@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Ma+Shan+Zheng&family=Mina:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  font-family: "Open Sans", sans-serif;
  z-index: -20;
  padding-bottom: 0.5rem;
  padding-top: 5rem;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
}

.dark {
  background-color: #000;
}
